*,
::after,
::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(230, 233, 240);
  color: black;
}
*:link {
  color: black;
}
.mat-dialog-container {
  height: unset !important;
}
